@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap');

html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#00bfff, #fff);
}

.sakura {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sakura h1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 5rem;
  color: #fff;
}

.sakura li{
  position: absolute;
  list-style: none;
  top: -50px;
  background: #ffdbed;
  border-radius: 0% 70%;  
  animation: fall 4s linear infinite, sway 2s ease-in-out infinite alternate;
}


@keyframes fall {
  to {
    top: 120%;
  }
}

@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(200px) rotate(-45deg);
  }
}

@keyframes sway2 {
  from {
    transform: translateX(200px) rotate(-45deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}

.sakura li:nth-child(1){
  left: 0%;
  width: 24px;
  height: 15px;
  animation: fall 10s linear infinite,
             sway1 3s ease-in-out infinite alternate;
  animation-delay: 2s;
}

.sakura li:nth-child(2){
  left: 5%;
  width: 13px;
  height: 9px;
  animation: fall 15s linear infinite,
             sway1 2s ease-in-out infinite alternate;
  animation-delay: 8s;
}

.sakura li:nth-child(3){
  left: 15%;
  width: 16px;
  height: 10px;
  animation: fall 9s linear infinite,
             sway1 3.5s ease-in-out infinite alternate;
  animation-delay: 13s;
}

.sakura li:nth-child(4){
  left: 30%;
  width: 16px;
  height: 10px;
  animation: fall 8s linear infinite,
             sway2 4s ease-in-out infinite alternate;
  animation-delay: 7s;
}
.sakura li:nth-child(5){
  left: 40%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite,
             sway1 4s ease-in-out infinite alternate;
  animation-delay: 0s;
}
.sakura li:nth-child(6){
  left: 55%;
  width: 24px;
  height: 15px;
  animation: fall 11s linear infinite,
             sway2 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.sakura li:nth-child(7){
  left: 65%;
  width: 16px;
  height: 10px;
  animation: fall 7s linear infinite,
             sway2 3.5s ease-in-out infinite alternate;
  animation-delay: 7s;
}
.sakura li:nth-child(8){
  left: 50%;
  width: 13px;
  height: 9px;
  animation: fall 7s linear infinite,
             sway1 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.sakura li:nth-child(9){
  left: 80%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite,
             sway2 4s ease-in-out infinite alternate;
  animation-delay: 4s;
}

.giftcontainer{
  position: relative;
}
.giftcontainer::before{
  content: '';
  position: absolute;
  width: 340px;
  height: 40px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
  top: 180px;
  left: -20px;
}
.gift{
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #e9c46a;

}
.gift::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 200px;
  background-color: #e76f51;
  left: 124px;
}
.gift::after{
  content: '';
  position: absolute;
  box-shadow: inset 0 20px rgba(0,0,0,0.3);
  width:300px ;
  height: 200px;
}
#click{
  display: none;

}

.click{
  position: absolute;
  background-color: #e9c46a;
  width: 340px;
  height: 80px;
  top: -80px;
  left: -20px;
  transform-origin:bottom left ;
  transition: 0.3s;
  cursor: pointer;
}
.click::before{
  position: absolute;
  content: '';
  width: 50px;
  height: 80px;
  background-color: #e76f51;
  left: 144px;
}

.click::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 0;
  border-bottom: 60px solid #e76f51;
  border-top: 60px solid #e76f51;
  border-left: 0px solid transparent;
  border-right: 60px solid #e76f51;
  transform: rotate(-90deg);
  left: 130px;
  top: -94px;
}

#click:checked + .click{
  transform: rotate(-110deg) scale(0.85);

}

#click:checked~.wishes{
  transform: translateY(-200px);
}

.wishes{
  position:absolute;
  transition: .5s;
  color: #333;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  z-index: -1;
  left: 20px;
  color: #fff;
  text-shadow: 0 0 20px #020202;
}
